body{
  margin: 0;
  background-color: #f5f2f7;
}
.App{
  font-family:"Avenir Next",Avenir,sans-serif;
  width: 90%;
  max-width: 700px;
  margin:0 auto;
  padding:30px 20px;
  box-sizing: border-box;
  
  
}
@media(max-width: 600px){
  .App{
    width: 100%;
    padding: 20px 10px;
  } 
}